@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
    height:100%;
    margin:0;
    padding:0;   
    

}

body{
    height:100%;
    margin:0;
    padding:0;
    background-image: url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 50%;
}



#navTitle{
    padding:0.2em;
    display:flex;
    justify-content: flex-start;
    justify-content: space-between;
    height: 12%;
    width:90%;
    list-style-type:none;
    margin:0 auto;
    color: #fff;
    font-family:Raleway, Arial, Helvetica, sans-serif;
    font-size: 2em;
    align-items: flex-end;
    border-bottom: 0.05em solid #fff;
    font-weight: 800;    


}

#navLink{
    display:flex;
    list-style-type:none;
    padding:0;
    margin:0;
    font-family:Raleway, Arial, Helvetica, sans-serif;
    font-size:0.5em;
    
    
    
}

#navLink li{
    margin:0;
    padding:0 1em;
    color:white;
    font-family:Raleway, Arial, Helvetica, sans-serif;

}

a{
    text-decoration: none;
    color:white;
    font-family:Raleway, Arial, Helvetica, sans-serif;
    

}

#mainPage{
    height: 90%;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#mainPage .title{
    margin:0;
    padding:0.1em 0.5em;
    font-size: 7em;
    font-style: bold;
    font-weight:900;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    border-bottom: 0.05em solid #fff;
    color: #fff;
}

#mainPage .subTitle{
    margin:0;
    padding: 0.1em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight:100;
}

#menu{
    margin:0;
    padding:0;
    height:190%; 
    display: flex;
    flex-direction: column;
    background-color: black;

}

#menu .bread{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    background-color: black;
    list-style-type:none;
    justify-content: space-between;
    height:33%;
}

ul #breadText{
    color:#fff;
    display:flex;
    flex-direction:column ;
    list-style-type:none;
    align-items: flex-start;
    margin:0;
    padding:0 6em;
}
#breadText .title{
    font-size: 3em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.2em 0em;
}

#breadText .subText{
    font-size: 1.5em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0.3em 0em;
}

.image{
    height:100%;
    width:auto;
    margin:0;
    padding:0;
}

.bread li{
    display: flex;
    align-items: center;
}

#menu .pineapple{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    background-color: rgb(32, 32, 32);
    list-style-type:none;
    justify-content: space-between;
    height:33%;
}

ul #pineappleText{
    color:#fff;
    display:flex;
    flex-direction:column ;
    list-style-type:none;
    align-items: flex-start;
    margin:0;
    padding:0 6em;
}
#pineappleText .title{
    font-size: 3em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.2em 0em;
}

#pineappleText .subText{
    font-size: 1.5em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0.3em 0em;
}

.pineapple li{
    display: flex;
    align-items: center;
}

#menu .pasta{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    background-color: black;
    list-style-type:none;
    justify-content: space-between;
    height:33%;
}

ul #pastaText{
    color:#fff;
    display:flex;
    flex-direction:column ;
    list-style-type:none;
    align-items: flex-start;
    margin:0;
    padding:0 6em;
}
#pastaText .title{
    font-size: 3em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.2em 0em;
}

#pastaText .subText{
    font-size: 1.5em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0.3em 0em;
}


.pasta li{
    display: flex;
    align-items: center;
}


